body {
  color: white;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around; /* voit testata myös: center, space-between */
  align-items: center;
  height: 300px;
}

.box:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6)
}

.box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  padding: 10px;
}

.red {
  background-color: blue;
  color: yellow;
  border: 5px solid green;
}

.yellow {
  background-color: yellow;
  color: red;
  border: 5px solid red;
}

.green {
  background-color: green;
  color: black;
  border: solid yellow;
}
